<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.techloan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TechLoan"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".features.auth.LoginActivity"    android:exported="false" />
        <activity android:name=".features.auth.RegisterActivity"  android:exported="false" />
        <activity android:name=".features.dashboard.DashboardActivity" android:exported="false" />

        <activity android:name=".features.inventory.InventoryActivity"          android:exported="false" />
        <activity android:name=".features.reservation.CreateReservationActivity" android:exported="false" />
        <activity android:name=".features.reservation.MyReservationsActivity"    android:exported="false" />
        <activity android:name=".features.loans.MyLoansActivity"                 android:exported="false" />
        <activity android:name=".features.profile.ProfileActivity"               android:exported="false" />

        <activity android:name=".features.custodian.CustodianDashboardActivity"     android:exported="false" />
        <activity android:name=".features.custodian.PendingReservationsActivity"    android:exported="false" />
        <activity android:name=".features.custodian.AllLoansManagementActivity"     android:exported="false" />
        <activity android:name=".features.reservation.QRCodeViewActivity"           android:exported="false" />
        <activity android:name=".features.custodian.QRScanResultActivity"           android:exported="false" />
        <activity android:name=".features.notification.NotificationActivity"          android:exported="false" />
        <activity android:name=".features.penalty.MyPenaltiesActivity"                android:exported="false" />
        <activity android:name=".features.custodian.CustodianPenaltyManagementActivity" android:exported="false" />

    </application>
</manifest>
